
// C O L O R E S //
$col-rosa:#E9D5DA;
$col-lila:#827397;
$col-violeta:#4D4C7D;
$col-violetaoscuro:#363062;
$col-negro:#000000;
$col-blanco:#FFFFFF;

// T I P O G R A F Í A //
$tipograf-titulo: Verdana, Geneva, Tahoma, sans-serif;




// #fondo{
//     background-image: url(background-iniciosesion.webp);
// }

#Tagenda{
    background-color:$col-violetaoscuro;
    // display: flex;
    // border: solid 50% $col-violeta;
    justify-content: center;
    height: 50%;
    text-align: center;
    color: $col-rosa;
    text-shadow: 2px 3px 3px $col-violeta;
    font-family: $tipograf-titulo;
    font-size: 300%;
}
// #h2bienvenido{
//     height: 35px;
//     width: 600px;
//     text-align: center;
//     color: $col-violetaoscuro;
//     text-shadow: 2px 3px 3px $col-lila;
//     font-family: $tipograf-titulo;
//     font-size: 90%;
// }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:$col-violeta;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:$col-rosa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $tipograf-titulo;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color:$col-violetaoscuro;
  }








// ahora quiero crear páginas. cada página va a ser un nuevo módulo (no un componente)
// va a ser un módulo que puede contener 1 o más componentes.
// vamos a crear módulos para las distintas páginas: ng generate module public/pages/home --routing 
//(--rputing porque queremos que tenga su propia ruta/path)
// EEENTONCES esto crea en public pages/home nuestro módulo y nuestro routing module donde 
//vamos a poner todo lo que sean las settings del routeo dentro de este módulo.
//Ahora vamos a crear el componente que tiene que cargar este módulo: ng generate component public/pages/home
//no solo que se nos va a crear el componente ahí mismo sino que tb se va a registrar en nuestro home module.ts
//Ahora hacemos lo mismo para Contact : ng g m public/pages/contact --routing
//y vamos a hacer también el componente: ng g c public/pages/contact
// Ahora tenemos que ir al router, el principal, app-rpoting.module.ts
// y decirle qué rutas existen y a dónde me llevan.