<p>registrarse works!</p>
<!-- <article id="fondo">
    <article id="fondo2">
        <h1 id="Hiniciarsesion">INICIAR SESIÓN</h1>
        <br>
        <label id="correo" for="correo">Correo electrónico</label>
        <br>
        <input id="IPcorreo" type="text" name="correo" placeholder="ingrese su correo electrónico">
        <div>
        <br>
        <label id="contrasena" for="contrasena">Contraseña</label>
        <br>
        <input id="IPcontrasena" type="password" name="contrasena" placeholder="ingrese su contraseña">
        </div>
        <br>
        <br>
        <button id="Bingresar" style="text-align: center;" [routerLink]="['contact']">INGRESAR</button>
        <br>
        <button id="Bregistrarse" style="text-align: center;" [routerLink]="['contact']">¿No tienes cuenta? ¡Regístrate!</button>
    </article>
</article> -->