
<article id="fondo">.
    <article id="fondo2">
        <h1 id="Hregisrarse">REGISTRARSE</h1>
        <br>
        <label id="nombre" for="nombre">Nombre</label>
        <br>
        <input id="IPnombre" type="text" name="nombre" placeholder="ingrese su nombre">
        <br>
        <label id="apellido" for="apellido">Apellido</label>
        <br>
        <input id="IPapellido" type="text" name="apellido" placeholder="ingrese su apellido">
        <br>
        <label id="username" for="username">Nombre de usuario</label>
        <br>
        <input id="IPusername" type="text" name="username" placeholder="ingrese su nombre de usuario">
        <br>
        <label id="correo" for="correo">Correo electrónico</label>
        <br>
        <input id="IPcorreo" type="text" name="correo" placeholder="ingrese su correo electrónico">
        <div>
        <br>
        <label id="contrasena" for="contrasena">Contraseña</label>
        <br>
        <input id="IPcontrasena" type="password" name="contrasena" placeholder="ingrese su contraseña">
        </div>
        <br>
        <br>
        <button id="Bregistrarse" style="text-align: center;" [routerLink]="['/home']">REGISTRARSE</button>
    </article>
</article>