// C O L O R E S //
$col-rosa:#E9D5DA;
$col-lila:#827397;
$col-violeta:#4D4C7D;
$col-violetaoscuro:#363062;
$col-negro:#000000;
$col-blanco:#FFFFFF;

// T I P O G R A F Í A //
$tipograf-titulo: Verdana, Geneva, Tahoma, sans-serif;




#FprofilePicture{
    width: 30%;
    border-radius: 50%;
  }

#fondo2{
    // display: flex;
    background-color:$col-lila;
    border: solid 10% $col-violeta;
    height: 300%;
    width: 600px;
    text-align: center;
}

#Hnombre{
    // display: flex;
    text-align: center;
    color: $col-violetaoscuro;
    font-family: $tipograf-titulo;
    font-size: 200%;
}
#Hapellido{
    // display: flex;
    text-align: center;
    color: $col-violetaoscuro;
    font-family: $tipograf-titulo;
    font-size: 200%;
}




#tel{
//   height: 5px;
//   width: 15px;
  text-align: center;
  color: $col-violetaoscuro;
  font-family: $tipograf-titulo;
}


#descripcion{
    // height: 5px;
    // width: 15px;
    text-align: center;
    color: $col-violetaoscuro;
    font-family: $tipograf-titulo;
}


#Bvolver {
    position: relative;
    background-color:$col-violetaoscuro;
    border: none;
    font-size: 150%;
    color: #FFFFFF;
    width: 40%;
    text-align: center;
    font-family: $tipograf-titulo;
  }


  #Beditar {
    position: relative;
    background-color:$col-violeta;
    border: none;
    font-size: 110%;
    color: #FFFFFF;
    width: 20%;
    text-align: center;
    font-family: $tipograf-titulo;
    float: left;
  }


  #Beliminar {
    position: relative;
    background-color:$col-violeta;
    border: none;
    font-size: 110%;
    color: #FFFFFF;
    width: 20%;
    text-align: center;
    font-family: $tipograf-titulo;
    float: right;
  }


