<article id="fondo">
    <article id="fondo2">
        <br>
        <img id="FprofilePicture" src="defaultProfilePicture.jpg" alt="foto de perfil de Nombre Apellido.">
        <br>
        <h1 id="HnombreApellido">NOMBRE APELLIDO</h1>
        <br>
        <!-- <label id="nombre" for="nombre">Nombre</label>
        <br>

        <label id="apellido" for="apellido">Apellido</label>
        <br> -->

        <H2 id="tel" for="tel">Teléfono</H2>
        <br>
 
        <br>
        <H2 id="descripcion" for="descripcion">Descripción</H2>
        <br>

        <br>
        <br>
        <button id="Bvolver" style="text-align: center;" [routerLink]="['/contact']">VOLVER</button>
        <button id="Beditar" style="text-align: center;">EDITAR</button>
        <button id="Beliminar" style="text-align: center;">ELIMINAR</button>
    </article>
</article>

