<article id="fondo">
    <article id="fondo2">
        <br>
        <img id="FprofilePicture" src="./../../../../assets/img/defaultProfilePicture.jpg" alt="foto de perfil de Nombre Apellido.">
        <br>
        <h1 id="Hnombre">JUANA</h1>
        <h1 id="Hapellido">PEREZ</h1>
        <br>
        <!-- <label id="nombre" for="nombre">Nombre</label>
        <br>

        <label id="apellido" for="apellido">Apellido</label>
        <br> -->

        <H2 id="tel" for="tel">341567898</H2>
        <br>
 
        <br>
        <p id="descripcion" for="descripcion">Mi mejor amigoo hola hola</p>
        <br>
        <button id="Bvolver" style="text-align: center;" [routerLink]="['/contact']">VOLVER</button>
        <button id="Beditar" style="text-align: center;">EDITAR</button>
        <button id="Beliminar" style="text-align: center;">ELIMINAR</button>
    </article>
</article>

