// C O L O R E S //
$col-rosa:#E9D5DA;
$col-lila:#827397;
$col-violeta:#4D4C7D;
$col-violetaoscuro:#363062;
$col-negro:#000000;
$col-blanco:#FFFFFF;

// T I P O G R A F Í A //
$tipograf-titulo: Verdana, Geneva, Tahoma, sans-serif;



// #fondo{
//     background-image: url("background-iniciosesionhome.webp");
// }



// #fondo2{
//     background-color:$col-lila;
//     border: solid 10px $col-violeta;
//     height: 300px;
//     width: 600px;
//     text-align: center;
// }



#Hiniciarsesion{
    background-color:$col-lila;
    // display: flex;
    border: solid 10px $col-violeta;
    justify-content: center;
    height: 13%;
    text-align: center;
    color: $col-violetaoscuro;
    text-shadow: 2px 3px 3px $col-lila;
    font-family: $tipograf-titulo;
    font-size: 200%;
}



#correo{
    // display: flex;
    height: 5%;
    text-align: center;
    color: $col-violetaoscuro;
    font-family: $tipograf-titulo;
}
#IPcorreo{
    // display: flex;
    height: 20%;
    color: $col-lila;
    font-family: $tipograf-titulo;
}
#contrasena{
    // display: flex;
    height: 5%;
    text-align: center;
    color: $col-violetaoscuro;
    font-family: $tipograf-titulo;
}
#IPcontrasena{
    // display: flex;
    height: 20%;
    width: 340%;
    color: $col-lila;
    font-family: $tipograf-titulo;
}



#Bingresar {
    // display: flex;
    background-color:$col-lila;
    font-size: 200%;
    height: 40%;
    color: white;
    text-align: center;
    font-family: $tipograf-titulo;

  }
  

  #Bregistrarse {
    // display: flex;
    background-color:$col-lila;
    font-size: 70%;
    height: 40%;
    color: white;
    text-align: center;
    font-family: $tipograf-titulo;
  }
  

  #fondo{
    // display: flex;
    background-color: $col-rosa;
    justify-content: center;
    text-align: center;
  }