// C O L O R E S //
$col-rosa:#E9D5DA;
$col-lila:#827397;
$col-violeta:#4D4C7D;
$col-violetaoscuro:#363062;
$col-negro:#000000;
$col-blanco:#FFFFFF;

// T I P O G R A F Í A //
$tipograf-titulo: Verdana, Geneva, Tahoma, sans-serif;

// #fondoTotal{
//     display: flex;
//     background-color: #4D4C7D;
//     justify-content: center;
//   }
