<article id="fondo">.
    <article id="fondo2">
        <h1 id="HcrearContact">NUEVO CONTACTO</h1>
        <br>
        <label id="nombre" for="nombre">Nombre</label>
        <br>
        <input id="IPnombre" type="text" name="nombre" placeholder="ingrese el nombre">
        <br>
        <label id="apellido" for="apellido">Apellido</label>
        <br>
        <input id="IPapellido" type="text" name="apellido" placeholder="ingrese el apellido">
        <br>
        <label id="tel" for="tel">Teléfono</label>
        <br>
        <input id="IPtel" type="text" name="tel" placeholder="ingrese el teléfono">
        <div>
        <br>
        <label id="descripcion" for="descripcion">Descripción</label>
        <br>
        <input id="IPdescripcion" type="text" name="descripcion" placeholder="descripción">
        </div>
        <br>
        <br>
        <button id="BcrearContact" style="text-align: center;" [routerLink]="['/contact']">CREAR</button>
    </article>
</article>
