// C O L O R E S //
$col-rosa:#E9D5DA;
$col-lila:#827397;
$col-violeta:#4D4C7D;
$col-violetaoscuro:#363062;
$col-negro:#000000;
$col-blanco:#FFFFFF;

// T I P O G R A F Í A //
$tipograf-titulo: Verdana, Geneva, Tahoma, sans-serif;





// #fondo2{
//     background-color:$col-lila;
//     border: solid 10px $col-violeta;
//     height: 300px;
//     width: 600px;
//     text-align: center;
// }

// #HcrearContact{
//     height: 10px;
//     width: 600px;
//     text-align: center;
//     color: $col-violetaoscuro;
//     text-shadow: 2px 3px 3px $col-lila;
//     font-family: $tipograf-titulo;
// }

// #nombre{
//   height: 5px;
//   width: 15px;
//   text-align: center;
//   color: $col-violetaoscuro;
//   font-family: $tipograf-titulo;
// }
// #IPnombe{
//   height: 20px;
//   width: 340px;
//   color: $col-lila;
//   font-family: $tipograf-titulo;
// }

// #apellido{
//   height: 5px;
//   width: 15px;
//   text-align: center;
//   color: $col-violetaoscuro;
//   font-family: $tipograf-titulo;
// }
// #IPapellido{
//   height: 20px;
//   width: 340px;
//   color: $col-lila;
//   font-family: $tipograf-titulo;
// }


// #tel{
//   height: 5px;
//   width: 15px;
//   text-align: center;
//   color: $col-violetaoscuro;
//   font-family: $tipograf-titulo;
// }
// #IPtel{
//   height: 20px;
//   width: 340px;
//   color: $col-lila;
//   font-family: $tipograf-titulo;
// }

// #descripcion{
//     height: 5px;
//     width: 15px;
//     text-align: center;
//     color: $col-violetaoscuro;
//     font-family: $tipograf-titulo;
// }
// #IPdescripcion{
//     height: 20px;
//     width: 340px;
//     color: $col-lila;
//     font-family: $tipograf-titulo;
// }


// // #Bingresar{
// //     height: 35px;
// //     width: 150px;
// //     color: $col-lila;
// //     font-family: $tipograf-titulo;
// // }

// // #Bregistrarse{
// //     height: 20px;
// //     width: 300px;
// //     color: $col-lila;
// //     font-family: $tipograf-titulo;
// // }

// #BcrearContact {
//     position: relative;
//     background-color:$col-violetaoscuro;
//     border: none;
//     font-size: 15px;
//     color: #FFFFFF;
//     // padding: 20px;
//     height: 35px;
//     width: 150px;
//     width: 150px;
//     text-align: center;
//     font-family: $tipograf-titulo;
//     -webkit-transition-duration: 0.4s;
//     transition-duration: 0.4s;
//     text-decoration: none;
//     overflow: hidden;
//     cursor: pointer;
//   }
  

  
#HcrearContact{
  background-color:$col-lila;
  // display: flex;
  border: solid 10px $col-violeta;
  justify-content: center;
  height: 13%;
  text-align: center;
  color: $col-violetaoscuro;
  text-shadow: 2px 3px 3px $col-lila;
  font-family: $tipograf-titulo;
  font-size: 200%;
}



#correo{
  // display: flex;
  height: 5%;
  text-align: center;
  color: $col-violetaoscuro;
  font-family: $tipograf-titulo;
}
#IPcorreo{
  // display: flex;
  height: 20%;
  color: $col-lila;
  font-family: $tipograf-titulo;
}
#contrasena{
  // display: flex;
  height: 5%;
  text-align: center;
  color: $col-violetaoscuro;
  font-family: $tipograf-titulo;
}
#IPcontrasena{
  // display: flex;
  height: 20%;
  width: 340%;
  color: $col-lila;
  font-family: $tipograf-titulo;
}



#Bingresar {
  // display: flex;
  background-color:$col-lila;
  font-size: 200%;
  height: 40%;
  color: white;
  text-align: center;
  font-family: $tipograf-titulo;

}


#BcrearContact {
  // display: flex;
  background-color:$col-lila;
  font-size: 70%;
  height: 90%;
  color: white;
  text-align: center;
  font-family: $tipograf-titulo;
}


#fondo{
  // display: flex;
  background-color: $col-rosa;
  justify-content: center;
  text-align: center;
}

  