@use "sass:color";
//ACÁ VAMOS A PONER TODOS LOS COLORES DE LA PALETA EN VARIABLES PARA MÁS FÁCIL USO.
//YO ACÁ PONGO DIRECTAMENTE EL NOMBRE DE LOS COLORES PORQUE NO LOS VOY A CAMBIAR

// C O L O R E S //
$col-ros:#E9D5DA;
$col-lila:#827397;
$col-violeta:#4D4C7D;
$color-violetaoscuro:#363062;
$col-negro:#000000;
$col-blanco:#FFFFFF;
